In [ ]:
from pymongo.mongo_client import MongoClient
from urllib.parse import quote_plus

uri = ""
# Create a new client and connect to the server
client = MongoClient(uri)

In [8]:
database=client["youtubecomunity"]

In [9]:
collection=database["session"]

In [10]:
data={

    "coursename":"genai",
    "instrutorname":"sunny",
    "modeofsession":"english"
}

In [11]:
data

{'coursename': 'genai', 'instrutorname': 'sunny', 'modeofsession': 'english'}

In [12]:
collection.insert_one(data)

InsertOneResult(ObjectId('687f2fa459fa44ce11e87a1a'), acknowledged=True)

In [13]:
all_record=collection.find()

In [14]:
for record in all_record:
    print(record)

{'_id': ObjectId('687f2fa459fa44ce11e87a1a'), 'coursename': 'genai', 'instrutorname': 'sunny', 'modeofsession': 'english'}

In [15]:
collection.insert_many(
    [
        {

    "coursename":"genai",
    "instrutorname":"sunny",
    "modeofsession":"english"
},

{

    "coursename":"mlops",
    "instrutorname":"sunnysavita",
    "modeofsession":"english&hindi"
}
        
    ]
)

InsertManyResult([ObjectId('687f308259fa44ce11e87a1b'), ObjectId('687f308259fa44ce11e87a1c')], acknowledged=True)

In [16]:
class mongodb_operation:

    def __init__(self,client_url: str, database_name: str, collection_name: str=None):
        self.client_url=client_url
        self.database_name=database_name
        self.collection_name=collection_name

    def create_client(self):
        client=MongoClient(self.client_url)
        return client


    def create_database(self):
        client=self.create_client()
        database=client[self.database_name]
        return database
        
    def create_collection(self,collection=None):
        database=self.create_database()
        collection=database[collection]
        return collection

    def insert_record(self,record:dict,collection_name:str):
        if type(record)==list:
            for data in record:
                if type(data)!= dict:
                    raise TypeError("record must be in the dict")
            collection=self.create_collection(collection_name)
            collection.insert_many(record)
        elif type(record)==dict:
            collection=self.create_collection(collection_name)
            collection.insert_one(record)

    def bulk_insert(self,datafile:str,collection_name:str=None):
        self.path=datafile

        if self.path.endswith('.csv'):
            data=pd.read_csv(self.path,encoding='utf-8')

        elif self.path.endswith('.xlsx'):
            data=pd.read_excel(self.path,encoding='utf-8')
            
        datajson=json.loads(data.to_json(orient='record'))
        collection=self.create_collection()
        collection.insert_many(datajson)

In [ ]:
#call the mongodb connection 
client_url =  ""
database = "mynewdatabase"
collection_name = "myoldcolumn"

In [18]:
mongo=mongodb_operation(client_url,database,collection_name)

In [19]:
mongo.insert_record({"name":"sunny","designation":"data scientist","salary":"10k"},collection_name)

In [20]:
mongo.insert_record([{"name":"sunny","designation":"data scientist","salary":"10k"},
{"name":"sudhanshu","designation":"sr. data scientist","salary":"150k"},
{"name":"krish","designation":"lead data scientist","salary":"70k"}
],collection_name)